@model Inventory.Models.ProductDetailsModels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductDetailsModels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Productid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Productid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Ubdate Stock", "Edit", new { id = Model.Productid }) |
    <a asp-action="ListallProductData">Back to List</a>
</div>
